<form [formGroup]="indexFormGroup" fxLayout="row wrap" fxLayoutAlign="space-evenly center">
    <div class="cell nav" fxFlex="20"><a class="index" href="./index/groups" title="set groups view"><mat-icon color="accent" svgIcon="rx:mdi_eye_24px"></mat-icon><span fxHide.lt-md>set groups view</span></a></div>
    <pagination-controls (pageChange)="currentPage=$event" class="cell index pagination" fxFlex="50"></pagination-controls>
    <div class="cell filter" fxFlex="30">
        <mat-form-field>
            <input formControlName="indexFilter" matInput placeholder="filter index" />
        </mat-form-field>
        <app-search-command [indexFormGroup]="indexFormGroup"></app-search-command>
    </div>
</form>
<mat-list>
    <mat-list-item *ngFor="let i of index$ | async | paginate: { itemsPerPage: 10, currentPage: currentPage }">
        <span class="incept-date">{{ i.inceptDate | date:'yyyy-MM-dd' }}:</span>
        <a class="index" href="blog/entry/{{ i.slug }}" [innerHTML]="i.title"></a>
    </mat-list-item>
</mat-list>
