@import '../../../assets/scss/normalize-component';
@import '../../../assets/scss/themes/akyinkyin/palette';

.mat-stroked-button.mat-accent {
    color: $light-primary-text;
}

.index.pagination {
    & ::ng-deep .ngx-pagination {
        padding-left: 0;
        text-align: center;
        & > li.current {
            background-color: $akyinkyin-base;
        }
        & li > a {
            color: $light-primary-text;

            &:active,
            &:link,
            &:visited {
                color: $light-primary-text;
            }

            &:hover {
                color: $dark-primary-text;
            }
        }
    }
}

.cell.filter,
.cell.nav {
    padding-top: 1rem;
}

.cell.nav {
    padding-left: 1rem;
}

.mat-list-item {
    & .incept-date {
        display: inline-block;
        margin-right: 0.5em;
        white-space: nowrap;
    }
    & a {
        display: inline-block;
        min-width: 30em;
    }
}
