<div class="index" fxLayout="column">
    <mat-spinner *ngIf="indexService.isLoading" color="accent" fxFlex="100"></mat-spinner>
    <app-index-groups *ngIf="indexService.isLoaded && (viewStyle == 'groups')" [indexService]="indexService" class="view groups" fxFlex="100"></app-index-groups>
    <app-index-list *ngIf="indexService.isLoaded && (viewStyle == 'list')" [indexService]="indexService" class="view list" fxFlex="100"></app-index-list>
    <app-error *ngIf="indexService.isError"></app-error>
</div>