.entry {
    background-color: #fff;
    border-radius: 0.5em;
    color: #000;
    margin: 1.5em auto;
    max-width: 70em;
    width: 90%;
    padding: 2em;

    & .search-pages {
        & > a {
            margin: 0 0.25em;
        }
    }
}
