<div class="app mat-typography">
    <div class="entry body-content">
        <h2>Search for “{{ searchTerm }}”</h2>
        <pagination-controls *ngIf="isFirstLoaded" (pageChange)="pageChanged($event)" class="pagination"></pagination-controls>
        <mat-spinner *ngIf="indexService.isLoading" color="accent"></mat-spinner>
        <div class="search-results" *ngIf="indexService.isLoaded">
            <h3>{{ totalSetSize }} results found.</h3>
            <div class="search-result" *ngFor="let i of pagingJson.value | paginate: { itemsPerPage: 10, currentPage: currentPage, totalItems: totalSetSize }">
                <h3 class="title">
                    <a [routerLink]="['/blog/entry', i.Slug]">{{ i.Title }}</a>
                </h3>
                <div class="entry-content"></div>
            </div>
        </div>
    </div>
    <app-error *ngIf="indexService.isError"></app-error>
</div>