@import '../../../assets/scss/themes/akyinkyin/palette';

.mat-form-field-label {
    padding-bottom: 0.25em;
}

.mat-option.mat-selected:not(.mat-option-disabled) {
    color: $akyinkyin-light-tint;
}

.mat-card {
    background-color: $akyinkyin-background;
    height: 6rem;
    margin: 0.25rem;
    width: 14rem;

    & > .mat-card-content {
        height: 5rem;
    }

    & > .mat-card-footer {
        padding-left: 1rem;
    }
}

.cell.filter,
.cell.grouping,
.cell.nav {
    padding-top: 1rem;
}

.cell.nav {
    padding-left: 1rem;
}
