img {
    max-width: 90%;
}

blockquote,
.Quote {
    background-color: #EAEAEA;
    border-left: 10px solid #B21300;
    margin: 1.5em auto 1em auto;
    max-width: 75%;
    padding: .25em;
    text-align: left;
}

blockquote p,
.Quote p {
    margin: 1.5em;
}

code,
kbd {
    background-color: #cfc;
    color: navy;
    font-family: Consolas, Monaco, "Andale Mono", "DejaVu Sans Mono", monospace;
    font-size: smaller;
}

pre {
    background-color: #cfc;
    color: navy;
    font-family: Consolas, Monaco, "Andale Mono", "DejaVu Sans Mono", monospace;
    line-height: 1.5em;
    margin-bottom: 1.5em;
    margin-top: 1.5em;
    overflow: auto;
    padding: .75em 1.625em;
}

sup {
    font-size: 1em;
}

sup.CleanXhtmlFootnoteReference {
    background-color: #eaeaea;
}

nav {
    margin-bottom: 1.5em;
}

.entry {
    background-color: #FFF;
    border-radius: .5em;
    color: #000;
    margin: 1.5em auto;
    padding: 2em;
}

.entry .entry-date {
    position: relative;
}

.entry .entry-date > span {
    display: inline-block;
    margin: 0 0.5em;
    vertical-align: top;
}

.entry .entry-date div[data-tweet] {
    display: inline-block;
}

.entry .Callout {
    background-color: #660b00;
    color: #fff5ee;
    font-size: 2em;
    margin: inherit auto 1em;
    padding: .5em;
    text-align: left;
    max-width: 75%;
}

.entry .Note {
    background-color: #cf0;
    margin: inherit auto 1em;
    padding: .5em;
    text-align: left;
}

.entry .Note > p {
    margin: 0;
    margin: 1em inherit;
}

.entry acronym {
    cursor: help;
}

.entry ul {
    list-style-type: square;
    margin-left: 3em;
    margin-top: 1.5em;
}

.entry ul li {
    margin-bottom: .5em;
}

.entry .entry-content {
    padding: 2em;
    padding-top: 3em;
}

.entry .entry-content,
.entry .entry-content > p {
    margin-top: 1.5em;
}

.entry .entry-content > h2,
.entry .entry-content > h3,
.entry .entry-content > h4 {
    margin-top: 1.5em;
}

.WordWalkingStickTable {
    border: 2px solid #063;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5em;
    width: 90%;
}

.WordWalkingStickTable td {
    border-top: 1px solid #063;
}

.WordWalkingStickTable th {
    background-color: #063;
    color: #FFF5EE;
    font-weight: 700;
}

.WordWalkingStickTable td,
.WordWalkingStickTable th {
    padding: .25em;
    vertical-align: top;
}
